
body {
  background-image: url("Images/Landing_background.jpg");
  background-size: cover;
  color: #fff;
  font-weight:normal;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

/*Header*/
header {
  width: 100%;
  background-color: rgba(0,0,0,.5);
  padding: .8em 0;
}

/*Main Content Section*/
.content-section {
  margin: 2em 0 0;
  padding: 1em;
  background-color: rgba(0,0,0,.5);
}

/*Circulitos*/
.icon-circle {
  border-radius: 50%;
  border: 2px solid #fff;
  height: 4em;
  width: 4em;
  padding: .2em;
  text-align: center;
  margin: auto;
}
.icon-circle img{
  margin: .5em auto 0;
}

/*Main Button*/
.btn-cat {
  margin: 1em 0 0
}

/*Footer*/
footer {
  position: fixed;
  bottom: 0;left: 0;
  width: 100%;
  padding: 3em;
}
